<div class="timer">
  <div class="display" [class.active]="isStarted">
    <div class="hour"><span>{{hour}}</span></div>
    <div class="colon"><span>:</span></div>
    <div class="minute"><span>{{minute}}</span></div>
    <div class="colon"><span>:</span></div>
    <div class="second"><span>{{second}}</span></div>
  </div>
  <div class="control">
    <button type="button" class="btn" [class.active]="!isStarted" (click)="switchStart()"><span>Start
        / Stop</span></button>
    <app-wait-button [isActive]="isStarted" (clickTwice)="pause()"><span>Wait</span></app-wait-button>
    <button type="button" class="btn" [class.active]="isStarted||secondsAfterStart>0"
      (click)="reset()"><span>Reset</span></button>
  </div>
</div>
