<div class="display" [class.active]="data.isStarted">
  <div class="hour"><span>{{data.hour}}</span></div>
  <div class="colon"><span>:</span></div>
  <div class="minute"><span>{{data.minute}}</span></div>
  <div class="colon"><span>:</span></div>
  <div class="second"><span>{{data.second}}</span></div>
</div>
<div class="control">
  <button #startButton type="button" class="btn" [class.active]="!data.isStarted"><span>Start
      / Stop</span></button>
  <button #waitButton type="button" class="btn" [class.active]="data.isStarted"><span>Wait</span></button>
  <button #resetButton type="button" class="btn"
    [class.active]="data.isStarted||data.secondsAfterStart>0"><span>Reset</span></button>
</div>
<div>{{clickTo}}</div>
